<div class ='container'>
  <form action='/login' method='post'>
    <input type='email' name='user[email]' placeholder='Email'>
    <br>
    <input type='password' name='user[password]' placeholder='Password'>
    <br>
    <input class="btn btn-success" type='submit' value='Login'>
  </form>
</div>