html {
  background-color: lightgreen;
}

.profile {
  font-size: 18px;
  margin-left: 45%;
  margin-right: 45%;
  width: 100%;
  padding-bottom: 30px;
}

.container {
  margin-top: 10%;
  text-align: center;
}

.container input{
  background-color: forestgreen;
  height: 50px;
  width: 300px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin: .25%;
}

.title {
  font-size: 50px;
  background-color: lightgreen;
  border: 3px solid ;
  font-family: "Arial Black";
}

nav {
  margin-top: 1%;
  padding: 10px;

}

nav ul li {
  display: inline;
  list-style: none;
  margin-left: 5%;
}

.move-right {
  float: right;
  margin-right: 5%;
}