<form action='/surveys/<%=@survey.id%>/questions/<%=@question.id%>/choices'    method='post'>
  <input type='text' name='choice[answer]' placeholder='Choice'/>
  <input type ='submit' value='Create Choice'/>
</form>
