<div class="container">
  <form action="/users/<%= @user.id %>" method="post">
    <input type="hidden" name="_method" value="put"/>
    <label>Email: <input type="email" name="user[email]" value="<%= @user.email %>"/></label>
    <input type="submit" value="Edit Account"/>
  </form>

  <div><a href="/users/<%= @user.id %>">Cancel</a></div>
