<div class='profile'>
    <div><%=@user.email%></div>
    <div>Created Surveys:
      <ol>
        <%@user.created_surveys.each do |s|%>
          <li><%= s.title%></li>
        <%end%>
      </ol>
    <div><a href = '/surveys'>All Surveys</a></div>
    <div><a href = '/surveys/new'>Create Survey</a></div>
    <div><a href = '/users/<%=@user.id%>/edit'>Edit Account</a></div>
</div>