<form id ='edit-this-survey' action="/surveys/<%= @survey.id  %>" method='post'>
  <input type='hidden' name='_method' value='patch'>
  <input type='text' name='survey[title]' value="<%= @survey.title %>"/>
  <input class="btn btn-primary" type='submit' value='Edit Title'/>
</form>

