<div class= 'container'>
<h1 class ='title'>Welcome to Sugary Surgeon Surveys</h1>
  <% if session[:user_id] %>
    <a class="btn btn-success" href='/logout'>Logout</a>
  <%else%>
    <a class="btn btn-success" href='/signup'>Signup</a>
    <a class="btn btn-success" href='/login'>Login</a>
  <%end%>
</div>
